{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content"width=device-width, initial-scale=1.0">
    <title>Documents</title>
    <link rel="stylesheet" href="{% static 'skola/skola.css'%}">
</head>
<body>
    <h1>Moja škola</h1>
    {% if triedy %}
    <h2>Triedy:</h2>
    <ul>
        {% for trieda in triedy %}
        <li>{{trieda}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if ucitelia %}
    <h2>Učitelia:</h2>
    <ul>
        {% for ucitel in ucitelia %}
        <li>{{ucitel}}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if studenti %}
    <h2>Študenti:</h2>
    <ul>
        {% for student in studenti %}
        <li>{{student}}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="Img">
        <img src="{% static 'skola/papa.png'%}" title="Veľký nahnevaný červený vták - Terence" alt="Veľký nahnevaný červený vták - Terence">
        </div>
</body>
</html>
<head>