{% extends "base.html" %}
{% block content %}
    {% if triedy %}
    <div class="container pt-3">
    <h2>Triedy:</a></h2>
    <ul class="list-group">
        {% for trieda in triedy %}
        <li><a class="link-offset-2 link-underline link-underline-opacity-0 list-group-item" href="{% url 'trieda' trieda=trieda %}">{{trieda}}</a></li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
    {% if ucitelia %}
    <div class="container pt-3">
    <h2>Učitelia:</a></h2>
    <ul class="list-group">
        {% for ucitel in ucitelia %}
        <li><a class="link-offset-2 link-underline link-underline-opacity-0 list-group-item" href="{% url 'ucitel' ucitel=ucitel.id %}">{{ucitel}}</a></li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}

    {% if studenti %}
    <div class="container pt-3">
    <h2>Študenti:</a></h2>
    <ul class="list-group"> 
        {% for student in studenti %}
        <li><a class="link-offset-2 link-underline link-underline-opacity-0 list-group-item" href="{% url 'student' student=student.id %}">{{student}}</a></li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}

    {% if kruzky %}
    <div class="container pt-3">
    <h2>Krúžky:</a></h2>
    <ul class="list-group"> 
        {% for kruzok in kruzky %}
        <li><a class="link-offset-2 link-underline link-underline-opacity-0 list-group-item" href="{% url 'kruzok' kruzok=kruzok %}" >{{kruzok}}</a></li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
{%endblock %}