{% extends "base.html" %}
{% block content %}
<header>
    <h1>Krúžok: {{kruzok}}</h1>
</header>
<div class="container">
    {% if ucitel %}
    <h4>Pridelený pedagóg: <a class= "link-offset-2 link-underline link-underline-opacity-0" href="{% url 'ucitel' ucitel=ucitel.id %}">{{kruzok.ucitel}}</a></h4>
    {% endif %}

    {%if student%}
    <h3>Študenti: </h3>
    <ul class="list-group">
    {% for student in student %}
    <h5><a class= "link-offset-2 link-underline link-underline-opacity-0" href="{% url 'student' student=student.id %}">{{student}}</a></h5>
    {%endfor%}
    </ul>
    {%endif%}
    
</div>
{% endblock content %}